*{
  box-sizing: border-box;
}

.grid{
width: 100%;
height: 800px;
background-color: black;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
gap: 20px;
grid-template-areas: 
"h h h h h"
"m m m m a"
"m m m m c"
"s s s s s "
"f f f f f "
;
}

.grid>div{
  width: 100%;
  background-color: white;
}

.header{
  grid-area: h;
}

.main{
grid-area: m
}

.aside{
grid-area:a ;
}

.section{
  grid-area: s;

}

.footer{
grid-area: f;
}